/* Variables */

$font-header: 'Roboto', sans-serif;
$font-text: 'Courgette', cursive;

$color-main: white;
$color-second: rgb(251, 192, 42); 
$color-text: grey;

/* Global */

body {
    font-size: 20px;
}

.services {
    margin-bottom: 100px;
}

.container {
    text-align: center;
}

.title {
    padding: 80px 0;   
}

.title h2, .col-4 h5 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: $font-header; 
}

.title p {
    font-family: $font-text;
    font-size: 18px;
    color: $color-text;
}

/* Header */

.intro {
    background-image: url(../images/photo1.jpeg);
    height: 100vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center center;
}

.intro-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-inner h1 {
    color: $color-main;
    font-size: 80px;
    text-transform: uppercase;
    font-family: $font-header;
}

.intro-inner h4 {
    color: $color-main;
    font-size: 40px;
    text-transform: capitalize;
    font-family: $font-text;
}

.btn {
    border-style: solid;
    border-color: $color-second;
    background-color: $color-second;
    border-radius: 5px;
    color: $color-main;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 25px;
    font-size: 16px;
    font-family: $font-header;
}

.logo {
    color: $color-second;
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
}

.list {
    text-align: end;
}

.list-item{
    list-style-type: none;
    display: inline-block;
    padding-right: 30px;
}
.list-item a {
    color: $color-main;
    text-decoration: none;
    text-transform: uppercase;
}

/* Services */

i {
    font-size: 60px;
    color: $color-second;
    height: 100px;
    width: 100px;
    border: solid;
    border-radius: 50%;
}

.fas {
    line-height: 95px;
}

.col-4 h5 {
    text-transform: uppercase;
    font-family: $font-header; 
    font-size: 16px;
}

/* Portfolio */

.portfolio {
    background-color: rgb(245, 239, 239);
}

.gallery {
    background-color: $color-main;
}

.gallery img {
    object-fit: cover;
    height: 40vh;
    width: 100%;
}

.gallery-item {
    text-align: center;
}

.card-title {
    margin-bottom: 0;
}

.card-text {
    margin-top: 0;
    margin-bottom: 50px;
    padding-bottom: 25px;
    font-family: $font-text;
    font-size: 17px;
    color: $color-text;
}

/* Footer */

.icons {
    padding-left: 70px;
    text-align: start;
}

.icons li {
    font-size: 0;
    list-style-type: none;
    display: inline-block;
}

.icons i {
    font-size: 20px;
    color: $color-main;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}

.fab {
    text-align: center;
    line-height: 2;
}

.copyright {
    padding-top: 20px;
    font-size: 16px;
}
